body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
    color: white;
}

.container {
    text-align: center;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    width: 480px;
    height: 480px;
    border: 5px solid #634736;
}

.piece.white {
    color: white;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
}

.piece.black {
    color: black;
}

.flipped {
    transform: rotate(180deg);
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
}

.square.light {
    background-color: #f0d9b5;
}

.square.dark {
    background-color: #b58863;
}

.piece {
    font-size: 48px;
    cursor: pointer;
    user-select: none;
}

[draggable="true"] {
    cursor: grab;
}

.flipped .piece {
    transform: rotate(180deg);
}